<form method="post" action="{action}">
	<fieldset class="t3-install-form-label-width-7">
		<table width="100%">
			<tr>
				<th>
					Username
				</th>
				<td>
					admin
				</td>
			</tr>
			<tr>
				<th>
					Password
				</th>
				<td>
					YourPassword
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset class="t3-install-form-submit">
		<ol>
			<li>
				<button type="submit">Continue<span class="t3-install-form-button-icon-positive">&nbsp;</span></button>
			</li>
		</ol>
	</fieldset>
</form>